layout {
    tab name="files" focus=true {
        pane split_direction="vertical" {
            pane command="bash" {
                args "-ic" "y; exec bash"
            }
            pane
        }
    }
}
