prefer-no-csd

environment {
    _JAVA_AWT_WM_NONREPARENTING "1"
    MOZ_ENABLE_WAYLAND "1"
}

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "sh" "-c" "swaybg -i ~/Pictures/wallpaper.jpg -m fill || swaybg -c '#0d0d0d'"
spawn-at-startup "swayidle" "-w" "timeout" "600" "swaylock -f" "timeout" "630" "niri msg action power-off-monitors" "resume" "niri msg action power-on-monitors" "before-sleep" "swaylock -f"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "sh" "-c" "$HOME/.local/bin/battwatch.sh"
